body {
    background-color: #efefef;
}

.main {
    margin: 10px 30px 30px;
    background-color: white;
}

.media-object {
    width: 40px;
    height: 40px;
}

.avatar {
    width: 40px;
    height: 40px;
}
.text-desc {
    font-weight: normal;
    font-size: 12px;
    color: #999;
}

.profile .selection {
    margin-top: 15px;
}